<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- デフォルト設定 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- アクセスログのファイル書き出し -->

    <!--　保存先の設定　name任意　value保存先 -->
    <property name="logFileName" value="src/main/resources/logs/access"/>

    <!--　アプリケーションログのファイル書き出し設定を定義 name任意 class絶対クラス名 -->
    <appender name="API_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFileName}/access.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>

    <!--　ログレベルと出力 -->
    <logger name="com.example.kawasakirestapi.application.filter.LoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="API_LOG"/>
    </logger>

</configuration>
